h1{
    text-decoration: underline;
    color: black;
}
body{
    background-color: darkgoldenrod;
    font-size: 30px;
}
.main-question{
    font-weight: bolder;
    color: whitesmoke;
}
#copyright{
    font-size: 15px;
    color: darkmagenta;
}